# Ignore node_modules (dependency folder)
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Ignore output data
data/

# Ignore environment variable files (if you use a private .env)
.env

# Ignore OS metadata files
.DS_Store

# Ignore build folders (if any)
dist/
build/


node_modules
.env
data
logs
.DS_Store



debug/